
		body {
    	background-color: #FFD1F1;
		}

		#daylist{
		color: black;
		margin: 20px 20px 20px 20px;
		font-size: 20px;
		font-family: arial;
		
		}

		#on_page{
			border-style: dotted;
			background-color: #9DF3F5;
			padding-left: 20px;
			
			text-align: center;
			font-size: 25px;
		}
		.shadow {
  		  		box-shadow: 3px 3px 3px #888888;
		}