.headerft{
	margin-left: 20px;
}
.header{
	
	background-color: #C7C7C7;
	width: 100%;
	height: 80px;
	padding: 20px;
	border-radius: 5px;

}
.menu{
	background-color: #B3B2B1;
	width: 100%;
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
	border-radius: 5px;

}
.pera{
	margin-top: 10px;
	width: 280px;
	margin-left:130px;
	text-align: justify;
	float: left;

}
@media screen and (max-width: 500px){
	.pera{
	margin-top: 10px;
	width: 80%;
	margin-left:40px;
	text-align: justify;
	float: left;
	font-size:80%;
}
.img{
	width: 80%;
	height: 80%;
	margin-left: 20px; 
}
.header{
	
	background-color: #FAD99B;
	width: 100%;
	height: 50px;
	padding: 20px;
	border-radius: 5px;
	font-size: 20px;

}
.menu{
	background-color: #ABF78F;
	width: 100%;
	padding: 10px;
	font-size: 15px;
	border-radius: 5px;



}
}
